*{

font-family: 'Poppins', sans-serif;
}
body{
    height: 96vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% auto 10%;
    /* border: solid 5px black; */
}
header{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    grid-column: 1/3;
    border: solid 5px black;
    border-bottom: 0;
}
header ul{
    padding-left: 10px;
}
header ul li{
    display: inline-block;
    list-style: none;
    padding: 8px;
    background-color: white;
    /* color: black; */

}
section{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 35% 65%;
    border: solid 5px black;
    background-color: #f5efdf;
    border-bottom: 0;

}
section div h1{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 50%; */
    font-size: 40px;

}
section div img{
   object-fit: fill;
}
.images{
    background-image: url('assets/img/author.img');
    background-size: cover;
    grid-column: 1/3;
}
.title{
    border-right: solid 5px black;
    border-bottom:solid  5px black;
}
.podcast{
    border-bottom:solid  5px black;
}
aside{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 25% 25%;
    border: solid 5px black;
    background-color: #f5efdf;
    border-left: 0;
    border-bottom: 0;

}
.TheBook{
    /* border-right: solid 5px black; */
    border-bottom: solid 5px black;
    grid-column: 1/3;

}
.Synopsis{
    border-right: solid 5px black;
    grid-row: 2/4;
}
.Author{
    border-bottom: solid 5px black;
}
.Shop{
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 50% 50%;
    
}
.ShopHeading{
    grid-column: 3/4 ;
    grid-row: 1/3;
}
aside div i{
    background-color: white;
}
.EmailIcon, .TwitterIcon , .LinkedInIcon , .PinterestIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.EmailIcon{
    border-bottom: solid 5px black;
    border-right: solid 5px black;
}
.TwitterIcon
{
    border-bottom: solid 5px black;
    border-right: solid 5px black;
}
.LinkedInIcon
{
    border-right: solid 5px black;
}
.PinterestIcon
{
    border-right: solid 5px black;

}
footer{
    display: grid;
    grid-template-columns: 50% 50%;
    border: solid 5px black;
    grid-column: 1/3;
    background-color: #f5efdf;
}
.DesignBy{
    border-right: solid 5px black;
}